<section class="bannerPublicitario">
    <figure class="mobileBanner">
        <img src="images/bannerOfertas-mobile.jpg" alt="Banner ofertas">
    </figure>
    <figure class="desktopBanner">
        <img src="images/bannerOfertas-desktop.png" alt="Banner ofertas">
    </figure>
</section>
<section class="categories">
        <div class="primaries">
            <figure>
                <img src="images/bannerPlantas.jpg" alt="Banner productos" class="bannerPlantas">
            </figure>
        </div>
        <div class="secundaries">
            <figure>
                <img src="images/bannerMacetas.jpg" alt="Banner macetas" class="bannerMacetas">
                <img src="images/bannerCuidados.png" alt="Banner tips y cuidados" class="bannerCuidados">
            </figure>
        </div>  
</section>