<section class="benefits">
    <div class="local_shipping">
        <span class="material-symbols-outlined" id="benefitsIcon">local_shipping</span>
        <h3 class="benefitsTitle">Envíos sin cargo</h3>
        <p>en CABA en compras superiores a $1.500,00</p>
    </div>
    <div class="verticalLine"></div>
    <div class="phone_in_talk">
        <span class="material-symbols-outlined" id="benefitsIcon">phone_in_talk</span>
        <h3 class="benefitsTitle">Consultas</h3>
        <p>Te asesoramos con tu compra</p>
    </div>
    <div class="verticalLine"></div>
    <div class="paid">
        <span class="material-symbols-outlined" id="benefitsIcon">paid</span>
        <h3 class="benefitsTitle">Pagá como quieras</h3>
        <p>Transferencia, tarjeta de crédito, efectivo</p>
    </div>
</section>