<div class="loginConGgFb">
    <button class="gg"><i class="fab fa-google"></i> <span>Iniciar con Google</span></button>
    <button class="fb"><i class="fab fa-facebook-f"></i><span>Iniciar con Facebook</span></button>
</div>