<section class="cartForm">
    <form action="#" method="GET">
        <p class="titleCart"> Entrega / <strong> Pago </strong> </p>
        <div class="contact">
            <label for="email"> DATOS DE CONTACTO </label>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="suscription" for="suscripcion">
            <input type="checkbox" name="suscripcion" id="suscripcion"> Quiero recibir ofertas y novedades por email.
        </div>
        <div class="delivery">
            <label> ENTREGA </label>
            <select name="barrios">
                <option> Elige tu barrio </option>
                <option value="almagro"> Almagro </option>
                <option value="barracas"> Barracas </option>
                <option value="caballito"> Caballito </option>
                <option value="flores"> Flores </option>
                <option value="palermo"> Palermo </option>
            </select>
            <input type="text" name="cp" placeholder="Código postal">
        </div>
        <p> Solo realizamos envíos dentro de CABA. </p>
        <div class="cartButton">
            <button type="submit"> CONTINUAR </button>
        </div>
        <div class="viewMoreCart">
            <a href="/">  
                <p class="moreCart"><span class="material-symbols-outlined" id="arrow"> arrow_back </span> Seguir comprando </p> 
            </a>
        </div>
    </form>
</section>