<section class="cartProducts">
    <article class="cartArticle">
        <div class="cartArticleImg">
            <figure>
                <img src="/images/fittonia1.jpg" alt="producto">
            </figure>
        </div>
        <div class="articleInfo"> 
            <div class="titleAndPrice">
                <h3> Fitonia </h3>
                <p> $3.000,00 </p>
            </div>
            <div class="descriptionAndTrash">
                <form class="articleDescription">
                    <label>Tamaño</label>
                    <select name="tamaño">
                        <option value="small"> S (Small) </option>
                        <option value="medium"> M (Medium) </option>
                        <option value="large"> L (Large) </option>
                        <option value="extra-large"> XL (Extra Large) </option>
                    </select>
                    <div class="articleAmount">
                        <i class="fas fa-minus" id="minus"></i>
                        <span> 1 </span>
                        <i class="fas fa-plus"></i>
                    </div>   
                </form>       
                <div class="trash">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </div>
    </article>
    <div class="line"></div>
    <article class="cartArticle">
        <div class="cartArticleImg">
            <figure>
                <img src="/images/ficus-elastica1.jpg" alt="producto">
            </figure>
        </div>
        <div class="articleInfo"> 
            <div class="titleAndPrice">
                <h3> Ficus elástica </h3>
                <p> $5.300,00 </p>
            </div>
            <div class="descriptionAndTrash">
                <form class="articleDescription">
                    <label>Tamaño</label>
                    <select name="tamaño">
                        <option value="small"> S (Small) </option>
                        <option value="medium"> M (Medium) </option>
                        <option value="large"> L (Large) </option>
                        <option value="extra-large"> XL (Extra Large) </option>
                    </select>
                    <div class="articleAmount">
                        <i class="fas fa-minus" id="minus"></i>
                        <span> 1 </span>
                        <i class="fas fa-plus"></i>
                    </div>   
                </form>       
                <div class="trash">
                    <i class="far fa-trash-alt"></i>
                </div>
            </div>
        </div>
    </article>
    <div class="line"></div>
    <div>
        <div class="subtotal">
            <p> Subtotal </p>
            <p> $8.300,00</p>
        </div>
        <div class="line"></div>
        <div class="total">
            <p> Total </p>
            <p> $8.300,00</p>
        </div>
    </div>
    <div class="line"></div>
    <div class="discount">
        <p> ¿Tenés un cupón de descuento? </p>
    </div>      
</section>