<header>
    <div class="topHeader">
        <div class="burgerMenu">
            <span class="material-symbols-outlined">menu</span>
        </div>
        <form class="form" action="#" method="GET">
            <input class="input" placeholder="Buscar">
            <button class="submit"><span class="material-symbols-outlined">search</span></button>
        </form>
        <figure class="logo">
            <a href="/"><img src="/images/LOGO_color.png" alt="logo_ARRAYCES"></a>
        </figure>
        <div class="shoppingBag">
            <a href="/users/cart"><span class="material-symbols-outlined">shopping_bag</span></a>
        </div>
    </div>
    <nav class="totalNav">
        <ul class="navSite">
            <li><a href="/">Home</a></li>
            <li><a href="/products/create">Crear producto</a></li>
            <li><a href="/products/edit/1">Editar producto</a></li>
        </ul>
    </nav>
</header>