<div class="contenedorRobot">
    <div class="robot">
        <input class="checkbox" type="checkbox" name="No soy un robot">
        <p>No soy un robot</p>  
        <img class="recaptcha" src="/images/reCAPTCHA-logo.png" alt="LOGO reCAPTCHA"> <!-- + IMG RECAPTCHA y achique tamaño-->
    </div>
</div>